<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/otus_java</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">ksenia</property>
        <property name="connection.password">ksenia</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="enable_lazy_load_no_trans">true</property>

        <mapping class="ru.otus.java.hw10.data.UserDataSet"/>
        <mapping class="ru.otus.java.hw10.data.AddressDataSet"/>
        <mapping class="ru.otus.java.hw10.data.PhoneDataSet"/>
        <mapping class="ru.otus.java.hw12.data.AccountDataSet"/>
    </session-factory>
</hibernate-configuration>